<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성 페이지</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 네비게이션 바 때문에 페이지 상단에 간격 추가 */
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <span class="navbar-brand">글 작성 페이지</span>
    <!-- 네비게이션 바에 필요한 내용을 추가할 수 있습니다. -->
</nav>

<div class="container mt-5">
    <form method="post" th:action="@{/boards/enroll}" th:object="${board}" enctype="multipart/form-data">
        <input type="hidden" id="loginId" name="loginId" th:value="${loginId}"/>
        <div class="form-group">
            <label for="title">제목:</label>
            <input type="text" class="form-control" th:field="*{title}">
            <div th:if="${#fields.hasErrors('title')}">
                <span th:errors="*{title}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="content">내용:</label>
            <textarea class="form-control" th:field="*{content}" rows="20"></textarea>
            <div th:if="${#fields.hasErrors('content')}">
                <span th:errors="*{content}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="file">파일 업로드:</label>
            <input type="file" class="form-control-file" name="file">
        </div>

        <button type="submit" class="btn btn-success">작성하기</button>
        <button type="button" class="btn btn-danger" onclick="cancel()">작성취소</button>
    </form>
</div>

<!-- 부트스트랩 JS 및 Popper.js CDN 추가 -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function cancel() {
        // Using the fetch API
        fetch('/home', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                // Add any additional headers if needed
            },
            // You can include credentials if necessary
            credentials: 'same-origin',
        })
            .then(response => {
                // Handle the response, e.g., redirect to /home on success
                if (response.ok) {
                    window.location.href = '/home';
                } else {
                    console.error('Error:', response.status, response.statusText);
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }
</script>

</body>
</html>
