<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부트스트랩 회원가입 페이지</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- footer 하단으로 고정 -->
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .container {
            flex: 1;
        }

        footer {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        not-correct {
            color: red;
        }

        correct {
            color: black;
        }

        .id-input {
            width: calc(40% - 10px);
            display: inline-block;
            margin-right: 12px;
        }

        .input {
            width: calc(80% - 10px);
            display: inline-block;
            margin-right: 12px;
        }
    </style>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">HomePage</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</div>
<div class="container mt-5">
    <form method="post" th:action="join" th:object="${joinMember}">
        <div class="form-group id-input">
            <label for="loginId">아이디:</label>
            <div style="display: flex; justify-content: space-between;">
                <input type="text" class="form-control" th:field="*{loginId}">
                <button id="checkButton" class="btn btn-danger" style="width: 120px; margin-left: 10px"
                        onclick="checkJoinIdDuplicate(event)">중복확인
                </button>
            </div>
            <div th:if="${#fields.hasErrors('loginId')}" class="not-correct">
                <span th:errors="*{loginId}"></span>
            </div>
        </div>

        <div class="form-group input">
            <label for="password">비밀번호:</label>
            <input type="password" class="form-control" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:erros="*{password}"></span>
        </div>

        <div class="form-group input">
            <label for="username">이름:</label>
            <input type="text" class="form-control" th:field="*{username}">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>

        <div class="form-group input">
            <label for="nickName">닉네임:</label>
            <input type="text" class="form-control" th:field="*{nickName}">
            <span th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></span>
        </div>

        <div class="form-group input">
            <label for="email">이메일:</label>
            <input type="email" class="form-control" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>


        <div class="form-group input">
            <label for="phone">전화번호:</label>
            <input type="tel" class="form-control" th:field="*{phone}">
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">가입하기</button>
        </div>
    </form>
</div>
<footer th:replace="~{footer :: footerFragment}"></footer>
<script>
    function checkJoinIdDuplicate(event) {
        event.preventDefault();
        var joinId = document.getElementById("loginId").value;
        $.ajax({
            url: "/join/checkId",
            type: "POST",
            data: JSON.stringify({"joinId": joinId}),
            contentType: "application/json",
            success: function (response) {
                var result = response.available;
                var button = document.getElementById("checkButton");
                if (result) {
                    button.innerHTML = "가입가능";
                    button.classList.remove("btn-danger");
                    button.classList.add("btn-success");
                } else {
                    document.getElementById("loginId").value = "";
                    alert("중복되는 아이디입니다.");
                }
            },
            error: function (error) {
            }
        });
    }
</script>


<!-- 부트스트랩 JS 및 Popper.js CDN 추가 -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
