<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 CDN 추가 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 네비게이션 바 때문에 페이지 상단에 간격 추가 */
        }

        /* Add your custom styles here */

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <span class="navbar-brand">게시물 정보</span>
</nav>

<div class="container mt-5">
    <input type="hidden" th:value="${board.getBoardId()}" id="boardId" name="boardId">
    <div class="form-group">
        <label th:for="${board.title}">제목:</label>
        <input type="text" class="form-control" th:field="*{board.title}" readonly>
    </div>

    <div class="form-group">
        <label th:for="${board.content}">내용:</label>
        <textarea class="form-control" th:field="*{board.content}" rows="20" readonly></textarea>
    </div>

    <div class="form-group" th:if="${board.getUploadFilename()}">
        <label>첨부 파일:</label>
        <a th:href="@{/boards/{boardId}/file(boardId=${board.getBoardId()})}">
            <span th:text="${board.getUploadFilename()}"></span>
        </a>
    </div>

    <div class="mt-3">
        <button onclick="clickBoardLikeBtn()" class="btn btn-outline-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-heart-fill"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
            </svg>
            <span th:text="${board.getLikeCnt()}" id="likeCnt" name="likeCnt">좋아요 개수</span>
        </button>
        <a th:href="@{/boards/{boardId}/update(boardId=${board.getBoardId()})}" th:if="${loginMember != null && loginMember.getId() == board.getMember().getId()}">
            <button class="btn btn-primary">게시물 수정</button>
        </a>
        <button class="btn btn-danger" onclick="deleteBoardBtn()" th:if="${loginMember != null && loginMember.getId() == board.getMember().getId()}">게시물 삭제</button>
        <a th:href="@{/boards}">
            <button class="btn btn-secondary">게시물 목록</button>
        </a>
    </div>

    <!-- 댓글 작성 폼 -->
    <div class="mt-4">
        <div class="form-group">
            <textarea class="form-control" id="boardContent" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-secondary" onclick="writeComment()">댓글 작성</button>
    </div>
    <!-- 댓글 목록-->
    <div th:each="comment, commentState: ${comments}" style="margin-top: 20px; margin-bottom: 20px;"
         th:if="${comments}">
        <div class="border rounded" style="background-color: rgb(240, 240, 240); position:relative;">
            <div class="vr" style="font-weight: bold; margin-top: 10px; margin-left: 10px;">
                작성자:<span th:text="${comment.getWriter()}" th:id="|commentWriter${commentState.index}|"></span>
            </div>
            <div class="text-black-50" style="margin-left: 10px;">
                작성일자: <span th:text="${comment.getCreatedDate()}"
                            th:id="|commentCreatedDate${commentState.index}|"></span>
            </div>
            <div class="sticky-top"
                 style="position:absolute; margin-left: 650px; margin-top: 10px;">
                <button th:id="|commentLikeBtn${commentState.index}|"
                        th:onclick="clickCommentLikeBtn([[${commentState.index}]])"
                        class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-heart-fill"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                    </svg>
                    <span th:text="${comment.getLikeCnt()}" th:id="|commentLikeCnt${commentState.index}|">좋아요 개수</span>
                </button>
                <button th:id="|editRequestBtn${commentState.index}|" class="btn btn-primary"
                        th:onclick="readOnlyAttrRemove([[${commentState.index}]])"
                        th:if="${loginMember != null && loginMember.getNickName().equals(comment.getWriter())}">수정
                </button>
                <button th:id="|removeRequestBtn${commentState.index}|" class="btn btn-danger"
                        th:onclick="deleteComment([[${commentState.index}]])"
                        th:if="${loginMember != null && loginMember.getNickName().equals(comment.getWriter())}">삭제
                </button>
                <button th:id="|editSuccessBtn${commentState.index}|" class="btn btn-success" style="display: none;"
                        th:onclick="editContent([[${commentState.index}]])">수정완료
                </button>
            </div>
            <hr style="width: 650px;">
            <div style="height: 100px">
                <textarea th:text="${comment.getContent()}" style="margin-left: 10px; width: 780px;
                 border: none; outline: none; resize: none; background-color: rgb(240, 240, 240);"
                          th:id="|commentContent${commentState.index}|" readonly>작성내용</textarea>
            </div>
        </div>
    </div>
</div>
<script>
    function clickBoardLikeBtn() {
        let boardId = document.getElementById("boardId").value;
        $.ajax({
            type: "POST",
            url: "/boards/like",
            data: JSON.stringify({boardId: boardId}),
            contentType: "application/json",
            success: function (response) {
                document.getElementById("likeCnt").innerHTML = response.likeCnt;
            },
            error: function (error) {
                alert("로그인 후 좋아요를 누를 수 있습니다");
            }
        })
    }

    function deleteBoardBtn() {
        let deleteCheck = confirm("게시물을 삭제하시겠습니까?");
        if (deleteCheck) {
            $.ajax({
                type: "delete",
                url: "/boards/" + document.getElementById("boardId").value,
                data: JSON.stringify({deleteCheck: true}),
                contentType: "application/json",
                success: function (res) {
                    alert("게시물이 정상적으로 식제되었습니다");
                    window.location.replace("/boards")
                },
                error: function (err) {
                }
            })
        }
    }

    function writeComment() {
        var content = $("#boardContent").val();
        var boardId = $("#boardId").val();
        $.ajax({
            type: "POST",
            url: "/boards/comment",
            data: JSON.stringify({boardId: boardId, content: content}),
            contentType: "application/json",
            success: function (res) {
                if (res) {
                    window.location.replace("/boards/" + boardId);
                }
            },
            error: function (err) {
            }
        })
    }

    function deleteComment(index) {
        var checkBtn = confirm("댓글을 삭제하시겠습니까?");
        if (checkBtn) {
            var boardId = $("#boardId").val();
            var commentCreatedDate = document.getElementById("commentCreatedDate" + index).innerHTML;
            var commentContent = document.getElementById("commentContent" + index).innerHTML;
            $.ajax({
                type: "DELETE",
                url: "/boards/comment",
                data: JSON.stringify({
                    boardId: boardId, commentCreatedDate: commentCreatedDate
                    , commentContent: commentContent
                }),
                contentType: "application/json",
                success: function (res) {
                    if (res) {
                        alert("댓글이 정상적으로 삭제되었습니다");
                        window.location.replace("/boards/" + boardId);
                    }
                },
                error: function (err) {

                }
            })
        }
    }

    function readOnlyAttrRemove(index) {
        document.getElementById("commentContent" + index).readOnly = false;
        document.getElementById("commentContent" + index).style.backgroundColor = "rgb(255, 255, 255)";
        document.getElementById("editRequestBtn" + index).style.display = "none";
        document.getElementById("removeRequestBtn" + index).style.display = "none";
        document.getElementById("commentLikeBtn" + index).style.display = "none";
        document.getElementById("editSuccessBtn" + index).style.display = "block";
    }

    function editContent(index) {
        var boardId = document.getElementById("boardId").value;
        var newContent = document.getElementById("commentContent" + index).value;
        var createdDate = document.getElementById("commentCreatedDate" + index).innerHTML;
        $.ajax({
            type: "PATCH",
            url: "/boards/comment",
            data: JSON.stringify({boardId: boardId, newContent: newContent, commentCreatedDate: createdDate}),
            contentType: "application/json",
            success: function (res) {
                if (res) {
                    alert("댓글이 정상적으로 수정되었습니다");
                    window.location.replace("/boards/" + boardId);
                }
            },
            error: function (err) {

            }
        })
    }

    function clickCommentLikeBtn(index) {
        var commentWriter = document.getElementById("commentWriter" + index).innerHTML; // 작성자
        var commentContent = document.getElementById("commentContent" + index).value; // 작성내용
        var commentCreatedDate = document.getElementById("commentCreatedDate" + index).innerHTML; // 작성일자
        $.ajax({
            type: "POST",
            url: "/comments/like",
            data: JSON.stringify({
                commentWriter: commentWriter, commentContent: commentContent,
                commentCreatedDate: commentCreatedDate
            }),
            contentType: "application/json",
            success: function (res) {
                if (res) {
                    document.getElementById("commentLikeCnt" + index).innerHTML = res.likeCnt;
                }
            },
            error: function (err) {
            }
        })
    }
</script>

<!-- 부트스트랩 JS 및 Popper.js CDN 추가 -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>